name: Build and Push Docker Image

on:
  push:
    branches: [ main ]


jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      # Step 1: Checkout repo
      - name: Checkout
        uses: actions/checkout@v3

      # Step 2: Log in to GHCR
      - name: Log in to GitHub Container Registry
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "${GITHUB_TOKEN}" | docker login ghcr.io -u "${GITHUB_ACTOR}" --password-stdin

      # Step 3: Build Docker image
      - name: Build image
        run: |
          docker build -t ghcr.io/dethrace-labs/reccmp-action:latest .

      # Step 4: Push Docker image to GHCR
      - name: Push image
        run: |
          docker push ghcr.io/dethrace-labs/reccmp-action:latest
